<div class="panel-header">
    <div class="panel-icon">
        <i class="bi bi-graph-up" style="color: #198754;"></i>
    </div>
    <div class="panel-title" id="price-chart-title">Price Action</div>
    <div class="panel-ctrl">
        <button id="btn-collapse-news" class="btn-ctrl">
            <i class="bi bi-pin-angle"></i>
        </button>
    </div>
</div>
<div class="panel-content" style="padding: 0.75rem; overflow: hidden; display: flex; flex-direction: column; height: 100%;">
    <div style="flex-grow: 1; position: relative; width: 100%; height: 100%; min-height: 180px;">
        <canvas id="price-action-chart"></canvas>
    </div>
</div>
