<div class="panel h-100" style="border: none; box-shadow: none;">
    <div class="panel-header">
        <div class="panel-icon">
            <i class="bi bi-clipboard2-data"></i>
        </div>
        <div class="panel-title">Filing Intelligence</div>
        <div class="panel-ctrl">
            <button id="btn-close-reader">
                <i class="bi bi-x-lg"></i>
            </button>
        </div>
    </div>
    <div class="panel-content">
        <div class="">
            <div class="">
                <h5>Narrative</h5>
                <div id="reader-text" style="font-size: 1.0rem;">Select a filing above to view its contents.</div>
            </div>
            <div class="">
                <h5>Tables</h5>
                <div id="reader-tables"></div>
            </div>
        </div>
    </div>
    <div class="panel-footer">
        <div id="reader-title"></div>
    </div>
</div>