<div class="toast panel">
    <div class="panel-header">
        <span class="panel-title">Toast Title</span>
        <button class="panel-close" id="btn-close">
            <i class="bi bi-x"></i>
        </button>
    </div>
    <div class="panel-content">
        <table class="sf-table">
            <tbody>
                <tr>
                    <td id="toast-icon" class="bi bi-bell"></td>
                    <td id="toast-message">Toast Message</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>