<div class="fundamentals-container">
    <div class="pane-title table-title">
        <div class="title-icon">
            <i class="bi bi-table"></i>
        </div>
        <div id="table-ticker" class="title-text">Ticker</div>
        <div id="table-reportType" class="title-subtext">Report Type</div>
    </div>
    
    <div class="table-wrapper">
        <table id="fundamentals-table" class="steel-table">
            <thead>
                <tr id="table-form-row">
                    <th class="metric-col">Form</th>
                    <!-- Forms will be injected here -->
                </tr>
                <tr id="table-header-row">
                    <th class="metric-col">Metric</th>
                    <!-- Periods will be injected here -->
                </tr>
            </thead>

            <tbody id="table-body">
                <!-- Data rows will be injected here -->
            </tbody>
        </table>
    </div>
</div>
